@font-face {
    font-family: 'customFont';
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
    font-weight: 400 900;
}
:root{
    --left-side-primary: hsl(252, 100%, 67%), hsl(241, 81%, 54%);
    --left-side-circle: hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0);

    --item-1: 0, 100%, 67%;
    --item-2: 39, 100%, 56%;
    --item-3: 166, 100%, 37%;
    --item-4: 234, 85%, 45%;

    --button: hsl(224, 30%, 27%);
    --button-hover: var(var(--left-side-primary));

     --White: hsl(0, 0%, 100%);
     --Pale-blue: hsl(221, 100%, 96%);
     --Light-lavender: hsl(241, 100%, 89%);
     --Light-lavender-nohsl: 241, 100%, 89%;
     --Dark-gray-blue: hsl(224, 30%, 27%);
     --Dark-gray-blue-nohsl: 224, 30%, 27%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'customFont';
    color: var(--Light-lavender);
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    font-size: .9rem;
}
.container{
    --border-radius: 2.5rem;
    --padding: 2rem;
    width: 40rem;
    margin: auto;
    display:flex;
    box-shadow: .5rem 1rem 3rem var(--Pale-blue);
    border-radius: var(--border-radius);
}
.left{
    background-image: linear-gradient(var(--left-side-primary));
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: var(--padding) calc(var(--padding) * 1.5);
    gap: 2rem;
    border-radius: var(--border-radius);
}
.total-score{
    width: 12rem;
    aspect-ratio: 1 / 1;
    background-image: linear-gradient(var(--left-side-circle));
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.total-score span{
    font-weight: 700;
    font-size: 3rem;
    color: var(--White);
}
.bottom-text{
    margin-top: .8rem;
    display: flex;
    flex-direction: column;
    gap: .2rem;
}
.bottom-text h3{
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
}
.right{
    padding: var(--padding);
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
.right h2{
    color: var(--Dark-gray-blue);
}
.right .items{
    display: flex;
    justify-content: space-between;
    padding: 1rem .5rem;
    border-radius: .5rem;
   
}
.right .items .icon-name{
    display: flex;
    gap: .3rem;
}
.right .items p{
    color: hsl(var(--Dark-gray-blue-nohsl), .7);
}
.right .items p span{
    color: var(--Dark-gray-blue);
    font-weight: 800;
}
.right .item-1{
    background-color: hsl(var(--item-1), .1);
}
.right .item-1 .catagory{
    color: hsl(var(--item-1));
    font-weight: 600;
}
.right .item-2{
    background-color: hsl(var(--item-2), .1);
}
.right .item-2 .catagory{
    color: hsl(var(--item-2));
    font-weight: 600;
}
.right .item-3{
    background-color: hsl(var(--item-3), .1);
}
.right .item-3 .catagory{
    color: hsl(var(--item-3));
    font-weight: 600;
}
.right .item-4{
    background-color: hsl(var(--item-4), .1);
}
.right .item-4 .catagory{
    color: hsl(var(--item-4));
    font-weight: 600;
}
button{
    border: none;
    border-radius: 100vw;
    padding-block: .7rem;
    color: white;
    background-color: var(--Dark-gray-blue);
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}
button:hover, 
button:focus-visible{
    background-image: linear-gradient(var(--left-side-primary));
}
@media (max-width:600px){
    body{
        align-items: start;
    }
    .container{
        width: 100%;
        flex-direction: column;
        height: 100%;
    }
    .left, .right{
        width: 100%;
    }
    .left{
        gap: 1.5rem;
        border-radius: 0 0 var(--border-radius) var(--border-radius);
    }
    .total-score{
        width: 8rem;
    }
    .right{
        border-radius: 0;
    }
}